USE [master]
GO
/****** Object:  Database [Esercizio1]    Script Date: 24/02/2025 15:58:01 ******/
CREATE DATABASE [Esercizio1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio1]
GO
/****** Object:  Table [dbo].[Cantiere]    Script Date: 24/02/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantiere](
	[IdCantiere] [int] NOT NULL,
	[DenominazioneCantiere] [nvarchar](100) NOT NULL,
	[Indirizzo] [nvarchar](255) NOT NULL,
	[Città] [nvarchar](100) NOT NULL,
	[CAP] [char](5) NOT NULL,
	[PersonaRiferimento] [nvarchar](100) NOT NULL,
	[DataInizioLavori] [date] NOT NULL,
	[DataFineLavori] [date] NOT NULL,
	[LavoriTerminatiSi_No] [char](2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/02/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdKey] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Cognome] [nvarchar](100) NOT NULL,
	[Data Di Nascita] [date] NOT NULL,
	[Sesso] [nchar](10) NOT NULL,
	[CF] [char](1) NOT NULL,
	[P.Iva] [char](16) NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaio]    Script Date: 24/02/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaio](
	[IdDipendente] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Cognome] [nvarchar](100) NOT NULL,
	[CF] [char](16) NOT NULL,
	[FigliACarico] [int] NOT NULL,
	[Sposato] [bit] NOT NULL,
	[LivelloLavorativo] [nvarchar](50) NOT NULL,
	[DescrizioneMansione] [nvarchar](250) NOT NULL,
	[Salario] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Operaio] PRIMARY KEY CLUSTERED 
(
	[IdDipendente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
